<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/png" />
    <title>Menu Administrador</title>
    
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <header class="bg_animate">
        <div class="header_nav">
            <div class="contenedor">
                <div >
                   
                </div>
                
            </div>
        </div>

        <section class="banner contenedor">
            <secrion class="banner_title">
                <h2>Bienvenido Administrador </h2>
                <a href="insertarempleados" class="llamanos">Iniciar</a>
            </secrion>
            
            <div class="banner_img">
                <img src="/icons/laptop-support.png" alt="">
            </div>
        </section>

        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>
    </header>
    
               
</body>
</html>