<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
 <!-- ======== Swiper Js ======= -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.7.5/swiper-bundle.min.css"
    />

  <!-- Boxicons -->
  <link href='https://unpkg.com/boxicons@2.0.8/css/boxicons.min.css' rel='stylesheet'>
  <!-- Custom StyleSheet -->
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Inicio</title>
</head>

<body>

  <!-- Navigation -->
  <nav class="nav">
    <div class="wrapper container">
      <div class="logo"><a href="">
        <img src="/images/logo.png" alt="">
      </a>
      </div>
      <ul class="nav-list">
        <div class="top">
          <label for="" class="btn close-btn"><i class="fas fa-times"></i></label>
        </div>
        <li><a href="index">Inicio</a></li>
        <li><a href="ProductosTienda">Productos</a></li>
        
        <li><a href="Nosotros">Quienes Somos</a></li>
        
        <!-- icons -->
        <li class="icons">
          <a href="login" class="fas fa-user"></a>
        </li>
      </ul>
      <label for="" class="btn open-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  

  <div class="hero">
    <div class="row">
      <div class="swiper-container slider-1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/images/hero-1.png" alt="" />
            <div class="content">
              <h1>Bienvenido al
                <br/>
                Minimercado
                <br>
                <span>Valentina</span>
              </h1>
            

             
            </div>
          </div>
          <div class="swiper-slide">
            <img src="/images/herooo.png" alt="" />
            <div class="content">
              <h1>Bienvenido al
                <br/>
                 Minimercado
                <br>
                <span>Valentina</span>
              </h1>
              

              
            </div>
          </div>

          <div class="swiper-slide">
            <img src="/images/hero-2.png" alt="hero image" />
            <div class="content">
              <h1>Bienvenido al
                <br/>
                 Minimercado
                <br>
                <span>Valentina</span>
              </h1>
              
             
            </div>
          </div>
          
          <div class="swiper-slide">
            <img src="/images/hero-3.png" alt="hero image" />
            <div class="content">
              <h1>Bienvenido al
                <br/>
                Minimercado
                <br>
                <span>Valentina</span>
              </h1>
             
             
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Carousel Navigation -->
    <div class="arrows d-flex">
        <div class="swiper-prev d-flex">
          <i class="bx bx-chevrons-left swiper-icon"></i>
        </div>
        <div class="swiper-next d-flex">
          <i class="bx bx-chevrons-right swiper-icon"></i>
        </div>
    </div>
  </div>

  <!-- Promotion -->

  <section class="section promotion">
    <div class="title">
      <h2>Algunos Productos</h2>

    </div>

    <div class="promotion-layout container">
      <div class="promotion-item">
        <img src="/images/promo1.jpg" alt="" />
        <div class="promotion-content">
          <h3>JUGOS</h3>
          
        </div>
      </div>

      <div class="promotion-item">
        <img src="/images/promo2.jpg" alt="" />
        <div class="promotion-content">
          <h3>MANGO</h3>
          
        </div>
      </div>

      <div class="promotion-item">
        <img src="/images/promo3.jpg" alt="" />
        <div class="promotion-content">
          <h3>UVAS</h3>
          
        </div>
      </div>

      <div class="promotion-item">
        <img src="/images/promo4.jpg" alt="" />
        <div class="promotion-content">
          <h3>PATATA</h3>
        
        </div>
      </div>

      <div class="promotion-item">
        <img src="/images/promo5.jpg" alt="" />
        <div class="promotion-content">
          <h3>NARANJA</h3>
          
        </div>
      </div>

      <div class="promotion-item">
        <img src="/images/promo6.jpg" alt="" />
        <div class="promotion-content">
          <h3>PIÑA</h3>
          
        </div>
      </div>
    </div>
  </section>

  <!-- Featured -->
  <section class="section featured">
    <div class="title">
      <h2>Algunos Productos</h2>
      
    </div>

    <div class="row container">
      <div class="swiper-container slider-2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product">
              <div class="img-container">
                <img src="/images/product-1.jpg" alt="" />
             
              </div>
              <div class="bottom">
                <a href="productDetails.html">Mango</a>
                <div class="price">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product">
              <div class="img-container">
                <img src="/images/product-10.jpg" alt="" />
               

                
              </div>
              <div class="bottom">
                <a href="">Lechuga</a>
                <div class="price">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product">
              <div class="img-container">
                <img src="/images/pe.jpg" alt="" />
              

               
              </div>
              <div class="bottom">
                <a href="">Papel Aluminio</a>
                <div class="price">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product">
              <div class="img-container">
                <img src="/images/JA.jpg" alt="" />
              

               
              </div>
              <div class="bottom">
                <a href="">Fabuloso</a>
                <div class="price">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product">
              <div class="img-container">
                <img src="/images/li.jpg" alt="" />
               

              </div>
              <div class="bottom">
                <a href="">Limpieza</a>
                <div class="price">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product">
              <div class="img-container">
                <img src="/images/di.jpg" alt="" />
                

                
              </div>
              <div class="bottom">
                <a href="">Arroz</a>
                <div class="price">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product">
              <div class="img-container">
                <img src="/images/at.jpg" alt="" />
               
              </div>
              <div class="bottom">
                <a href="">Atún</a>
                <div class="price">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product">
              <div class="img-container">
                <img src="/images/OS.jpg" alt="" />
               
              </div>
              <div class="bottom">
                <a href="">Gaseosa</a>
                <div class="price">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product">
              <div class="img-container">
                <img src="/images/PA.jpg" alt="" />
                
              </div>
              <div class="bottom">
                <a href="">Paquete</a>
                <div class="price">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- Carousel Navigation -->
    <div class="arrows d-flex">
       <div class="custom-next d-flex">
          <i class="bx bx-chevrons-right swiper-icon"></i>
        </div>
        <div class="custom-prev d-flex">
          <i class="bx bx-chevrons-left swiper-icon"></i>
        </div>
    </div>
  </section>

  <!-- Products -->


  <!-- ADVERT -->
  <section class="section advert">
    <div class="advert-layout container">
      <div class="item ">
        <img src="/images/her.png" alt="">
        <div class="content left">
          <span>lIMPIEZA</span>
          <h3>Productos</h3>
        
        </div>
      </div>
      <div class="item">
        <img src="/images/hero-2.png" alt="">
        <div class="content  right">
          <span>MERCADO</span>
          <h3>Productos</h3>
         
        </div>
      </div>
    </div>
  </section>

  <!-- BRANDS -->
  <section class="section brands">
    <div class="title">
      <h2>DISTRIBUIDORES</h2>
      <span></span>
    </div>

    <div class="brand-layout container">
      <div class="swiper-container slider-3">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/images/brand1.png" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/images/brand2.png" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/images/brand5.png" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/images/brand4.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/images/brand3.png" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/images/brand6.png" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/images/brand7.png" alt="">
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h3>Limpieza</h3>
          <a href="#">  Jabon</a>
          <a href="#">  Limpido</a>
          <a href="#">  Fabuloso </a>
          <a href="#">  my account </a>
          <a href="#"> <i class="fas fa-arrow-right"></i> Mucho mas</a>
      </div>
      <div class="footer-center">
        <h3>Mercado</h3>
        <a href="#">  Arroz </a>
        <a href="#">  Aceite </a>
        <a href="#">  Frijol </a>
        <a href="#">  Lentejas </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Mucho mas </a>
    </div>
        <div class="footer-center">
          <h3>Redes Sociales</h3>
          <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
          <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
          <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
          <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
          <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
        </div>
        <div class="footer-center" >
          <h3>CONTÁCTENOS</h3>
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
           villa del rosio calle 4 12b14
          </div>
          <div>
            <span>
              <i class="far fa-envelope"></i>
            </span>
            Minimercado@gmail.com
          </div>
          <div>
            <span>
              <i class="fas fa-phone"></i>
            </span>
            322 39457700
          </div>
          
        </div>
      </div>
    </div>
    </div>
  </footer>
  <!-- End Footer -->

  <!-- ======== SwiperJS ======= -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.7.5/swiper-bundle.min.js"></script>
  <!-- Custom Scripts -->
  <script src="./js/slider.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>

