<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/png" />
    <title>Nosotros</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <a href="index.ejs" class="logo">  <img src="./images/logo.png" alt=""> </a>

    <nav class="navbar">
        <a href="index">Inicio</a>
        <a href="ProductosTienda">Productos</a>
       
    </nav>

    <div class="icons">
        <a href="login">
            <div id="login-btn" class="fas fa-user"></div>
        </a>
   
      
    </div>


    <form action="" class="search-form">
        <input type="search" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="shopping-cart">
        <div class="box">
            <i class="fas fa-times"></i>
            <img src="image/cart-1.jpg" alt="">
            <div class="content">
                <h3>organic food</h3>
             
            </div>
        </div>
        <div class="box">
            <i class="fas fa-times"></i>
            <img src="image/cart-2.jpg" alt="">
            <div class="content">
                <h3>organic food</h3>
               
            </div>
        </div>
        <div class="box">
            <i class="fas fa-times"></i>
            <img src="image/cart-3.jpg" alt="">
            <div class="content">
                <h3>organic food</h3>
                
            </div>
        </div>
        <h3 class="total"></h3>
        <a href="#" class="btn">checkout cart</a>
    </div>

   

</header>

<!-- header section ends -->

<div class="heading">
    <h1>Acerca de Nostros</h1>
    
</div>

<section class="about">

    <div class="image">
        <img src="image/about-img.jpg" alt="">
    </div>

    <div class="content">
        <span>NOSOTROS</span>
    
        <p>El minimercado valentina se encuentra ubicado en el barrio villa del rosio, a 10 minutos del parque principal de Mosquera Cundinamarca</p>
        <p>En el se encuentran todo tipo de productos para el aseo, alimenticios, viveres y de mas productos de calidad </p>
        <a href="#" class="btn">ver mas</a>
    </div>

</section>

<section class="gallery">

    <h1 class="title"> Nuestra <span>Galeria</span> <a href="#">ver todo >></a> </h1>

    <div class="box-container">

        <div class="box">
            <img src="image/gallery-img-1.jpg" alt="">
            <div class="icons">
               
            </div>
        </div>

        <div class="box">
            <img src="image/gallery-img-2.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/gallery-img-3.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/gallery-img-4.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/gallery-img-5.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/gallery-img-6.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

    </div>

</section>

<!-- footer section starts  -->
<footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h3>Limpieza</h3>
          <a href="#">  Jabon</a>
          <a href="#">  Limpido</a>
          <a href="#">  Fabuloso </a>
          <a href="#">  my account </a>
          <a href="#"> <i class="fas fa-arrow-right"></i> Mucho mas</a>
      </div>
      <div class="footer-center">
        <h3>Mercado</h3>
        <a href="#">  Arroz </a>
        <a href="#">  Aceite </a>
        <a href="#">  Frijol </a>
        <a href="#">  Lentejas </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Mucho mas </a>
    </div>
        <div class="footer-center">
          <h3>Redes Sociales</h3>
          <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
          <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
          <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
          <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
          <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
        </div>
        <div class="footer-center" >
          <h3>CONTACT US</h3>
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
           villa del rosio calle 4 12b14
          </div>
          <div>
            <span>
              <i class="far fa-envelope"></i>
            </span>
            Minimercado@gmail.com
          </div>
          <div>
            <span>
              <i class="fas fa-phone"></i>
            </span>
            322 39457700
          </div>
          <div class="payment-methods">
            <img src="/images/payment.png" alt="">
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>

<!-- footer section ends -->













<!-- custom css file link  -->
<script src="jss/script.js"></script>

</body>
</html>