*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Sans serif';
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #2ba572, #c0f0de);
    position: relative;
    overflow: hidden;
}

.header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header_nav .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}



.header_nav nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner_title h2{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner_title .llamanos{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #48b348;
    padding: 20px;
}

.banner_img{
    animation: movimiento 2.5s linear infinite;
}

.banner_img img{
    width: 900px;
    display: block;
}

/* burbujas */

.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}



@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}








.seccion-contenido {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.seccion-contenido .contenido {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 800px;
    text-align: center;
    z-index: 5;
}
.seccion-contenido .contenido h4 {
    font-size: 4rem;
    margin-bottom: 2.5rem;
    font-family: "Raleway-regular";
}
.seccion-contenido .contenido p {
    font-style: italic;
    font-size: 1.75rem;
    margin-bottom: 3.5rem;
    font-family: Gill Sans MT;
}
.seccion-contenido .contenido h4,
.seccion-contenido .contenido p {
    text-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
.seccion-contenido .contenido ul {
    list-style: none;
}
.seccion-contenido .contenido ul a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 12px;
    transition: all ease-in 100ms;
    transform: translateY(0)
}
.seccion-contenido .contenido ul a:hover {
    transform: translateY(-.5rem);
}
.seccion-contenido .contenido li:nth-child(1) a {
    border: 3px solid #64aa7f;
}
.seccion-contenido .contenido li:nth-child(2) a {
    border: 3px solid #65f071;
}
.seccion-contenido .contenido li:nth-child(3) a {
    border: 3px solid #1c4616;
}
.seccion-contenido .contenido li:nth-child(4) a {
    border: 3px solid #019e35;

}
.seccion-contenido .contenido li:nth-child(5) a {
    border: 3px solid #fc8f89;
}
.seccion-contenido .contenido ul li {
    display: inline-block;
}
.seccion-contenido .contenido ul li + li {
    margin-left: 2.5rem;
}
